<!DOCTYPE html>
{% load static %}
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Divine Engineering Consultancy</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.bxslider.min.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">
</head>
<body>

	<header class="up-contact">
		<div class="container">
			<div class="contact-up">
				<p><i class="fa fa-map-marker" aria-hidden="true"></i> Kathmandu, Nepal</p>
				<p><i class="fa fa-envelope" aria-hidden="true"></i> contact@divineengineeringconsultancy.com</p>
				<p><i class="fa fa-phone" aria-hidden="true"></i> +977 9841234567</p>
				<ul>
					{% for social in social_contact %}
					<li><a href="{{ social.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="{{ social.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="{{ social.googleplus }}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
					<li><a href="{{ social.instagram }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</header>

	<nav class="navbar navbar-expand-md sticky-top">
		<div class="container">
			<a class="navbar-brand" href="home.html"><img src="{% static "images/logo.jpg" %}"></a>
			<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a href="{% url 'home' %}" class="nav-link active">home</a></li>
					<li class="nav-item"><a href="{% url 'about' %}" class="nav-link">about us</a></li>
					<li class="nav-item"><a href="{% url 'services' %}" class="nav-link">services</a></li>
					<li class="nav-item"><a href="{% url 'collection' %}" class="nav-link">featured collection</a></li>
					<li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">contact us</a></li>
				</ul>
			</div>
		</div>
    </nav>

    {% block body_block %}

    {% endblock %}

    <footer>
		<div class="container">
			<div class="footer-wrapper">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="q-links">
							<div class="footer-head">
								<h4>Quick Links</h4>
							</div>
							<div class="footer-link">
								<ul>
									<li><a href="{% url 'home' %}">Home</a></li>
									<li><a href="{% url 'about' %}">About Us</a></li>
									<li><a href="#">Projects</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="contact-us">
							<div class="footer-head">
								<h4>Contact Us</h4>
							</div>
							<div class="footer-contact">
								<ul>
									<li><i class="fa fa-street-view" aria-hidden="true"></i> Kathmandu, Nepal</li>
									<li><i class="fa fa-phone" aria-hidden="true"></i> 01 4321456, +977 9841234567</li>
									<li><i class="fa fa-envelope" aria-hidden="true"></i> info@divineengineering.com</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="social">
							<div class="footer-head">
								<h4>Follow Us</h4>
							</div>
							<div class="footer-social">
								<ul>
									{% for social in social_contact %}
									<li><a href="{{ social.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
									<li><a href="{{ social.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
									<li><a href="{{ social.googleplus }}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
									<li><a href="{{ social.linkedin }}"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 col-sm-12">
						<div class="subscribe">
							<div class="footer-head">
								<h4>Subscribe</h4>
							</div>
							<div class="footer-subscribe">
								<input type="email" name="email" placeholder="Email Address">
								<a href="#"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copy-right">
				<p>&copy; divineengineering.com | All rights reserved</a></p>
			</div>
		</div>
	</footer>

<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/jquery.bxslider.min.js" %}"></script>
<script src="{% static "js/parallaxie.js" %}"></script>
<script src="{% static "js/custom.js" %}"></script>
</body>
</html>